/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #CDE8E5;
}

li {
    list-style: none;
    margin: 5px 0 5px 10px;
}

.container {
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    width: 22%;
    background-color: #EEF7FF;
    margin: 10px;
    padding: 10px;
    border-radius: 12px;
    box-shadow: #7AB2B2 0px 3px 8px;
}

.box p {
    margin: 5px;
}

.box img {
    width: 100px;
    height: 100px;
} */